In [2]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
import os
os.getcwd()

'/Users/austinclime/vs_code_projects/taq_data_pull_new'

# Checking Box and WRDS (optional)

In [5]:
from box_client_new import make_client
client=make_client()

In [6]:
from wrds_creds import read_pgpass
wrds_username,wrds_password=read_pgpass()

import wrds
db = wrds.Connection(wrds_host="wrds-pgdata.wharton.upenn.edu",
                     wrds_username=wrds_username,
                     wrds_password=wrds_password)

Loading library list...
Done

# Tutorial

## Pull WRDS data and Upload to Box

In [15]:
from taq_pull import get_nbbo_tick_by_day 
from box_client_new import upload_to_box

ticker = 'AAPL'
day = '20220930'
nbbo_df_1 = get_nbbo_tick_by_day(ticker,day)
nbbo_df_1
display(nbbo_df_1.head())
dest=fr'outputs/taq_test_{ticker}_{day}.parquet'
nbbo_df_1.to_parquet(dest,engine='pyarrow')
upload_to_box(dest,dest.split(r'/')[-1])

day = '20221031'
nbbo_df_2 = get_nbbo_tick_by_day(ticker,day)
display(nbbo_df_2.head())
dest=fr'outputs/taq_test_{ticker}_{day}.parquet'
nbbo_df_2.to_parquet(dest,engine='pyarrow')
upload_to_box(dest,dest.split(r'/')[-1])

,date,time_m,time_m_nano,sym_root,sym_suffix,qu_cond,natbbo_ind,qu_source,nbbo_qu_cond,best_bid,best_bidsizeshares,best_ask,best_asksizeshares
0,2022-09-30,09:00:00.009656,938,AAPL,<NA>,R,2,N,<NA>,141.78,100,141.81,200
1,2022-09-30,09:00:00.011748,695,AAPL,<NA>,R,2,N,<NA>,141.77,100,141.81,200
2,2022-09-30,09:00:00.105836,307,AAPL,<NA>,R,2,N,<NA>,141.75,1800,141.81,200
3,2022-09-30,09:00:00.231298,356,AAPL,<NA>,R,2,N,<NA>,141.77,100,141.81,200
4,2022-09-30,09:00:00.443931,912,AAPL,<NA>,R,2,N,<NA>,141.75,1800,141.81,200

Request "POST https://upload.box.com/api/2.0/files/1822297989172/content" failed with ConnectionError exception: ConnectionError(ProtocolError('Connection aborted.', BrokenPipeError(32, 'Broken pipe')))

,date,time_m,time_m_nano,sym_root,sym_suffix,qu_cond,natbbo_ind,qu_source,nbbo_qu_cond,best_bid,best_bidsizeshares,best_ask,best_asksizeshares
0,2022-10-31,09:00:02.031345,357,AAPL,<NA>,R,2,N,<NA>,153.78,300,153.81,200
1,2022-10-31,09:00:02.031735,694,AAPL,<NA>,R,2,N,<NA>,153.78,300,153.8,100
2,2022-10-31,09:00:02.031808,40,AAPL,<NA>,R,2,N,<NA>,153.78,300,153.81,200
3,2022-10-31,09:00:02.032530,383,AAPL,<NA>,R,2,N,<NA>,153.78,300,153.81,100
4,2022-10-31,09:00:02.033584,536,AAPL,<NA>,R,4,N,<NA>,153.78,200,153.81,100

## Pull Files of Box